@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 260 84% 4.9%;

    --primary: 260.09 84.13% 50.59%;
    --primary-foreground: 260 84% 95.1%;

    --card: 0 0% 100%;
    --card-foreground: 260 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 260 84% 4.9%;

    --secondary: 260.63 84.21% 92.55%;
    --secondary-foreground: 0 0% 0%;

    --muted: 260 84% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 260 84% 95.1%;
    --accent-foreground: 260.63 84.21% 7.45%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 260 84% 90.2%;
    --input: 260 28.42% 81.37%;
    --ring: 260.09 84.13% 50.59%;

    --chart-1: 260.09 84.13% 50.59%;
    --chart-2: 260 84.11% 58.04%;
    --chart-3: 260 84.15% 67.84%;
    --chart-4: 260 84.17% 72.75%;
    --chart-5: 260.21 84.07% 77.84%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 260.63 84.21% 92.55%;

    --primary: 260.09 84.13% 50.59%;
    --primary-foreground: 260 84% 95.1%;

    --card: 255 26.67% 5.88%;
    --card-foreground: 260.63 84.21% 92.55%;

    --popover: 0 0% 0%;
    --popover-foreground: 260.63 84.21% 92.55%;

    --secondary: 260.27 82.22% 17.65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 260.27 82.22% 17.65%;
    --accent-foreground: 260.63 84.21% 92.55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 260 80.77% 10.2%;
    --input: 260 20.39% 20.2%;
    --ring: 260.09 84.13% 50.59%;

    --chart-1: 260.09 84.13% 50.59%;
    --chart-2: 260 81.82% 43.14%;
    --chart-3: 260 82.14% 32.94%;
    --chart-4: 260.17 81.69% 27.84%;
    --chart-5: 260 82.76% 22.75%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
